<a href="https://colab.research.google.com/github/ayesha-119/Deep-Learning-BWF/blob/master/Task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***ðŸ”´ Task 05*** 

Topics: Enumerate() function, Timing Your Code, User Inputs, Conditionals, Introducing Set, Union, Intersection, Difference, Symmetric Difference, Making Data Unique with Sets

Resource: https://drive.google.com/file/d/12HEIuGU0NRgJutUQkMUhGKo-Nr_YWYdq/view?usp=share_link

# **Enumerate() function:** 
The enumerate() function is a built-in Python function that allows you to loop over an iterable object (like a list or tuple) and keep track of the index of the current item in the loop. The function returns an enumerate object, which contains pairs of index-value pairs.

In [28]:
# create a list of cars
cars = ['Audi','BMW','Ferrari','rolls royce']
for index, car in enumerate(cars):
  print(index,car)

0 Audi
1 BMW
2 Ferrari
3 rolls royce

# **Timing your code:**

In [48]:
import timeit

# Using a for loop
t1 = timeit.timeit("[i**2 for i in range(10000)]", number=1000)

# Using a list comprehension
t2 = timeit.timeit("squares = []; [squares.append(i**2) for i in range(10000)]", number=1000)

print(f"Squares using for loop: {t1:.6f} seconds")
print(f"Squares using list comprehension: {t2:.6f} seconds")

Squares using for loop: 2.365301 seconds
Squares using list comprehension: 2.734786 seconds

# ***User Input:***

The input() function waits for the user to type something and press Enter, and then it returns whatever the user typed as a string.

In [50]:
name = input("Please enter your name: ")
print("Hello, " + name + "!")

Please enter your name: Ayesha Younas
Hello, Ayesha Younas!

In [51]:
age = int(input("How old are you? "))
print("You will be " + str(age + 10) + " in ten years.")

How old are you? 24
You will be 34 in ten years.

# **Conditional Tests:** Write a series of conditional tests. Print a statement
describing each test and your prediction for the results of each test. Your code
should look something like this:

car = 'subaru'

print("Is car == 'subaru'? I predict True.")

print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")

print(car == 'audi')

â€¢ Look closely at your results, and make sure you understand why each line
evaluates to True or False.

â€¢ Create at least 10 tests. Have at least 5 tests evaluate to True and another
5 tests evaluate to False.

In [24]:
car = 'subaru'

print("Is car == 'subaru'? I predict True.")

print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")

print(car == 'audi')

Is car == 'subaru'? I predict True.
True

Is car == 'audi'? I predict False.
False

In [26]:
# Test 1.......!
age = 18
print("\nIs age < 21? I predict True.")
print(age < 21)

print("\nIs age > 21? I predict False.")
print(age > 21)

# Test 2......!
color = 'red'
print("\nIs color == 'red' and car == 'subaru'? I predict True.")
print(color == 'red' and car == 'subaru')

print("\nIs color == 'blue' or car == 'audi'? I predict False.")
print(color == 'blue' or car == 'audi')

# Test 3.......!
name = 'John'
print("\nIs name != 'Bob'? I predict True.")
print(name != 'Bob')

print("\nIs name == 'john'? I predict False.")
print(name == 'john')


# Test 4.....!
number = 7
print("\nIs number >= 7 and number <= 10? I predict True.")
print(number >= 7 and number <= 10)

print("\nIs number > 10 or number < 5? I predict False.")
print(number > 10 or number < 5)

# Test 5 .......!
grade = "A" 
print("\n Is grade == 'A' I predict True ")
print(grade == 'A')

print("\n Is grade != 'A' I predict True ")
print(grade != 'A')

Is age < 21? I predict True.
True

Is age > 21? I predict False.
False

Is color == 'red' and car == 'subaru'? I predict True.
True

Is color == 'blue' or car == 'audi'? I predict False.
False

Is name != 'Bob'? I predict True.
True

Is name == 'john'? I predict False.
False

Is number >= 7 and number <= 10? I predict True.
True

Is number > 10 or number < 5? I predict False.
False

 Is grade == 'A' I predict True
True

 Is grade != 'A' I predict True
False

**More Conditional Tests:** You donâ€™t have to limit the number of tests you create to 10 If you want to try more comparisons, write more tests and add them to conditional_tests.py Have at least one True and one False result for each of the following: 

â€¢ Tests for equality and inequality with strings 

â€¢ Tests using the lower() function 

â€¢ Numerical tests involving equality and inequality, greater than and less 
than, greater than or equal to, and less than or equal to 

â€¢ Tests using the and keyword and the or keyword 

â€¢ Test whether an item is in a list â€¢ Test whether an item is not in a list

In [27]:
car = 'subaru'

# Tests for equality and inequality
print("Is car == 'subaru'? I predict True.")
print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

print("\nIs car != 'audi'? I predict True.")
print(car != 'audi')

print("\nIs car != 'subaru'? I predict False.")
print(car != 'subaru')

# Tests using numerical comparisons
number = 7

print("\nIs number == 7? I predict True.")
print(number == 7)

print("\nIs number > 10? I predict False.")
print(number > 10)

print("\nIs number < 10? I predict True.")
print(number < 10)

print("\nIs number >= 7? I predict True.")
print(number >= 7)

print("\nIs number <= 5? I predict False.")
print(number <= 5)

# Tests using logical operators
x = True
y = False

print("\nIs x and y both True? I predict False.")
print(x and y)

print("\nIs x or y True? I predict True.")
print(x or y)

print("\nIs not x True? I predict False.")
print(not x)

print("\nIs not y True? I predict True.")
print(not y)

Is car == 'subaru'? I predict True.
True

Is car == 'audi'? I predict False.
False

Is car != 'audi'? I predict True.
True

Is car != 'subaru'? I predict False.
False

Is number == 7? I predict True.
True

Is number > 10? I predict False.
False

Is number < 10? I predict True.
True

Is number >= 7? I predict True.
True

Is number <= 5? I predict False.
False

Is x and y both True? I predict False.
False

Is x or y True? I predict True.
True

Is not x True? I predict False.
False

Is not y True? I predict True.
True

# **if statements:**

**Alien Colors #1:** Imagine an alien was just shot down in a game Create a variable called alien_color and assign it a value of 'green' , 'yellow' , or 'red' 

â€¢ Write an if statement to test whether the alienâ€™s color is green If it is, print a message that the player just earned 5 points 

â€¢ Write one version of this program that passes the if test and another that fails (The version that fails will have no output)

In [1]:
alien_color = 'green'
if alien_color == 'green':
  print("The player just earned 5 points")

The player just earned 5 points

In [2]:
alien_color = 'yellow'
if alien_color == 'green':
  print("The player just earned 5 points")

**Alien Colors #2:** Choose a color for an alien as you did in Exercise 5-3, and write an if - else chain 

â€¢ If the alienâ€™s color is green, print a statement that the player just earned 5 points for shooting the alien 

â€¢ If the alienâ€™s color isnâ€™t green, print a statement that the player just earned 10 points â€¢ Write one version of this program that runs the if block and another that runs the else block

In [3]:
alien_color = 'green'
if alien_color == 'green':
  print("The player just earned 5 points for shooting the alien")
else:
  print("The player just earned 10 points")

The player just earned 5 points for shooting the alien

In [4]:
alien_color = 'yellow'
if alien_color == 'green':
  print("The player just earned 5 points for shooting the alien")
else:
  print("The player just earned 10 points")

The player just earned 10 points

**Alien Colors #3:** Turn your if - else chain from Exercise 5-4 into an if - elif - else chain 

â€¢ If the alien is green, print a message that the player earned 5 points 

â€¢ If the alien is yellow, print a message that the player earned 10 points 

â€¢ If the alien is red, print a message that the player earned 15 points 

â€¢ Write three versions of this program, making sure each message is printed for the appropriate color alien

In [7]:
alien_color = 'green'
if alien_color == 'green':
  print("The player just earned 5 points")
elif alien_color == 'yellow':
  print("The player just earned 10 points")
else:
  print("The player just earned 15 points")

The player just earned 5 points

In [9]:
alien_color = 'yellow'
if alien_color == 'green':
  print("The player just earned 5 points")
elif alien_color == 'yellow':
  print("The player just earned 10 points")
else:
  print("The player just earned 15 points")

The player just earned 10 points

In [10]:
alien_color = 'red'
if alien_color == 'green':
  print("The player just earned 5 points")
elif alien_color == 'yellow':
  print("The player just earned 10 points")
else:
  print("The player just earned 15 points")

The player just earned 15 points

**Stages of Life:** Write an if - elif - else chain that determines a personâ€™s stage of life Set a value for the variable age , and then: 

â€¢ If the person is less than 2 years old, print a message that the person is a baby 

â€¢ If the person is at least 2 years old but less than 4, print a message that the person is a toddler 

â€¢ If the person is at least 4 years old but less than 13, print a message that the person is a kid 

â€¢ If the person is at least 13 years old but less than 20, print a message that the person is a teenager 

â€¢ If the person is at least 20 years old but less than 65, print a message that the person is an adult 

â€¢ If the person is age 65 or older, print a message that the person is an elder.

In [11]:
age = 24
if age < 2:
  print("The person is a baby")
elif age < 4:
  print("The person is a toddler")
elif age < 13:
  print("The person is a kid")
elif age < 20:
  print("The person is a teenager")
elif age < 65:
  print("The person is an adult")
else:
  print("The person a an elder")

The person is an adult

**Favorite Fruit:** Make a list of your favorite fruits, and then write a series of independent if statements that check for certain fruits in your list 

â€¢ Make a list of your three favorite fruits and call it favorite_fruits 

â€¢ Write five if statements Each should check whether a certain kind of fruit is in your list If the fruit is in your list, the if block should print a statement, such as You really like bananas

In [12]:
favorite_fruits = ['apple', 'strawberry','mango']
if 'apple' in favorite_fruits:
  print("you really like apple") 
if 'banana' in favorite_fruits:
  print("you really like banana") 
if 'strawberry' in favorite_fruits:
  print("you really like strawberry") 
if 'mango' in favorite_fruits:
  print("you really like mango") 
if 'peach' in favorite_fruits:
  print("you really like peach")

you really like apple
you really like strawberry
you really like mango

# **using if statements with lists:**

**Hello Admin:** Make a list of five or more usernames, including the name 'admin' Imagine you are writing code that will print a greeting to each user after they log in to a website Loop through the list, and print a greeting to each user: 

â€¢ If the username is 'admin' , print a special greeting, such as Hello admin, would you like to see a status report? 

â€¢ Otherwise, print a generic greeting, such as Hello Eric, thank you for log- ging in again.

In [13]:
users = ['Ayesha', 'eric', 'admin', 'sarah', 'joseph']
for user in users:
  if user == 'admin':
    print("Hello admin, would you like to see a status report?")
  else:
    print("Hello " + user.title() + ", thank you for  log-ging in again.")

Hello Ayesha, thank you for  log-ging in again.
Hello Eric, thank you for  log-ging in again.
Hello admin, would you like to see a status report?
Hello Sarah, thank you for  log-ging in again.
Hello Joseph, thank you for  log-ging in again.

**No Users:** Add an if test to hello_admin.py to make sure the list of users is not empty 

â€¢ If the list is empty, print the message We need to find some users! 

â€¢ Remove all of the usernames from your list, and make sure the correct message is printed

In [15]:
users = []
if users:
  for user in users:
    if user == 'admin':
      print("Hello admin, would you like to see a status report?")
    else:
      print("Hello " + user.title() + ", thank you for  log-ging in again.")
else:
  print("We need to find some more users!")

We need to find some more users!

**Checking Usernames:** Do the following to create a program that simulates how websites ensure that everyone has a unique username 

â€¢ Make a list of five or more usernames called current_users 

â€¢ Make another list of five usernames called new_users Make sure one or two of the new usernames are also in the current_users list 

â€¢ Loop through the new_users list to see if each new username has already been used If it has, print a message that the person will need to enter a new username If a username has not been used, print a message saying that the username is available 

â€¢ Make sure your comparison is case insensitive If 'John' has been used, 'JOHN' should not be accepted

In [17]:
current_users = ["ayesha",'nick','anna','sarah','adam']
new_users = ['ayesha', 'eric', 'admin', 'sarah', 'joseph']
for user in new_users:
  if user in current_users:
   print(f"Sorry, the username '{user}' is already taken. Please enter a new username.")
  else:
    print(f"The username '{user}' is available.")

Sorry, the username 'ayesha' is already taken. Please enter a new username.
The username 'eric' is available.
The username 'admin' is available.
Sorry, the username 'sarah' is already taken. Please enter a new username.
The username 'joseph' is available.

**Ordinal Numbers:** Ordinal numbers indicate their position in a list, such as 1st or 2nd Most ordinal numbers end in th , except 1, 2, and 3 

â€¢ Store the numbers 1 through 9 in a list 

â€¢ Loop through the list â€¢ Use an if - elif - else chain inside the loop to print the proper ordinal end- ing for each number Your output should read "1st 2nd 3rd 4th 5th 6th 7th 8th 9th" , and each result should be on a separate line

In [21]:
numbers = list(range(1,10))
for number in numbers:
  if number == 1:
    print("1st")
  elif number ==  2:
    print("2nd")
  elif number == 3:
    print("3rd")
  else:
    print (f"{number}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

# ***Sets:***
In Python, a set is an unordered collection of **unique elements**. Sets are represented with curly braces {}, and elements are separated by commas.

Empty sets can be slightly tricky to use in Python. In Python, empty curly braces result in an empty dictionary; however, we cannot use them to initialize an empty set. Instead, we use the set() function without any arguments to create a set with no elements.

 Here's an example of how to create a set:

In [33]:
# A set of integers
int_set = {1,2,3,4,1,2,3,4}
int_set

{1, 2, 3, 4}

You can also create a set from a list or tuple using the **set()** function:

In [34]:
my_list = [1, 2, 2, 3, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

**Modifying a Set in Python**

The **add()** method is used to add a single element, and the **update()** method is used to update multiple components. Tuples, lists, strings, and other sets may be passed to the update() method. Duplicates are avoided in all circumstances.

In [39]:
my_set = {10,20,30,40,12}
my_set
my_set.add(13)
my_set
my_set.update([14,15])
my_set

{10, 12, 13, 14, 15, 20, 30, 40}

**Removing Elements From a Set**

The methods **discard()** and **remove()** are used to delete a specific item from a set. They are identical with only one difference. 

The discard() method leaves the set unmodified If the element is not present in the set. 

The remove() method, on the other hand, throws an error if the element is not present in the set.

In [44]:
my_set = {10,20,30,40,12}
my_set.discard(12)
my_set
#this will throw error
# my_set.remove(12)  uncomment this to show error

{10, 20, 30, 40}

Sets have several useful methods for working with data, such as:

**union()**: returns a set containing all the unique elements from both sets.

**intersection()**: returns a set containing the common elements between both sets.

**difference():** returns a set containing the elements that are in one set but not the other.

**symmetric_difference():** returns a set containing the elements that are in either one set or the other, but not both.

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union
union_set = set1.union(set2)
print(union_set) # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set) # Output: {4, 5}

# Difference
difference_set = set1.difference(set2)
print(difference_set) # Output: {1, 2, 3}

# Symmetric difference
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set) # Output: {1, 2, 3, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# ***Making Data Unique with Sets:***

You can also use sets to remove duplicates from a list or other iterable. To do this, simply convert the list to a set using set(), and then convert it back to a list using list():

In [45]:
my_list = [1, 2, 2, 3, 3, 4, 5]
unique_list = list(set(my_list))
print(unique_list) # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]