<a href="https://colab.research.google.com/github/ayesha-119/Deep-Learning-BWF/blob/master/Task_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ðŸ”´ Task 15**

Topics: Handling Missing Data, Filling and Replacing Values, Removing Duplicates, Detecting and Removing Outliers

Resource: https://drive.google.com/file/d/1ILp88f3u_KgJ_nlhTSsAVGdmZlICGhhd/view?usp=share_link

# **Handling Missing Data**

In [30]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
missing_values = df.isna()
print(missing_values)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         False     False               False        False           False
1         False     False               False        False           False
2         False     False               False        False           False
3         False     False               False        False           False
4         False     False               False        False           False
...         ...       ...                 ...          ...             ...
2995      False     False               False        False           False
2996      False     False               False        False           False
2997      False     False               False        False           False
2998      False     False               False        False           False
2999      False     False               False        False           False

      population  households  median_income  median_house_value
0          False       False          False               False
1          False       False          False               False
2          False       False          False               False
3          False       False          False               False
4          False       False          False               False
...          ...         ...            ...                 ...
2995       False       False          False               False
2996       False       False          False               False
2997       False       False          False               False
2998       False       False          False               False
2999       False       False          False               False

[3000 rows x 9 columns]

The isna() method returns a DataFrame with the same shape as the original DataFrame, where each cell contains a boolean value indicating whether it's a missing value or not.


To count the number of missing values in each column, we can use the sum() method:

In [31]:
missing_values_count = df.isna().sum()
print(missing_values_count)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

# **Filtering Out Missing Data**

**Filter rows with missing data**


1.  Load the dataset into a Pandas DataFrame

2.  Remove rows with missing data using the dropna() function

In [32]:
df = pd.read_csv('/content/sample_data/mnist_train_small.csv')
df.dropna(inplace = True)
print(df.head())

   6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  2  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.584  0.585  0.586  0.587  0.588  0.589  0.590
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

**Filter columns with missing data**


1.   Load the dataset into a Pandas DataFrame
2.   Remove columns with missing data using the dropna() function with the axis parameter set to 1

In [33]:
import pandas as pd

# Load dataset
df = pd.read_csv('/content/sample_data/mnist_train_small.csv')

# Filter columns with missing data
df.dropna(axis=1, inplace=True)

# Display filtered dataset
print(df.head())

   6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  2  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.584  0.585  0.586  0.587  0.588  0.589  0.590
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

**Filter rows based on the percentage of missing data**



1.  Load the dataset into a Pandas DataFrame
2.  Calculate the percentage of missing data in each row
Filter rows with a percentage of missing data greater than a specified threshold using boolean indexing

In [34]:
import pandas as pd

# Load dataset
df = pd.read_csv('/content/drive/MyDrive/titanic/train.csv')

# Calculate percentage of missing data in each row
missing_percentage = (df.isna().sum(axis=1) / len(df.columns)) * 100

# Filter rows with a percentage of missing data greater than 50%
threshold = 50
filtered_df = df[missing_percentage <= threshold]

# Display filtered dataset
print(filtered_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# **Filling In Missing Data**

**Fill missing values with the last known value**


Use the fillna() function with the method parameter set to 'ffill' (short for forward-fill) to fill in missing values with the last known value

In [35]:
df.fillna(0, inplace=True)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

**Fill missing values with the next known value**


Use the fillna() function with the method parameter set to 'bfill' (short for backward-fill) to fill in missing values with the next known value

In [36]:
# Fill missing values with next known value
df.fillna(method='bfill', inplace=True)

# Display filled dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

**Fill missing values with the mean, median and mode of the column**


Use the fillna() function with the value parameter set to the mean value of the column to fill in missing values with the column mean

In [37]:
# Fill missing values with the mean of the column
df.fillna(df.mean(), inplace=True)
print(df.head())

# Fill missing values with the median of the column
df.fillna(df.median(), inplace=True)
print(df.head())

# Fill missing values with the mode of the column
df.fillna(df.mode().iloc[0], inplace=True)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

<ipython-input-37-6e60fd766e2d>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)
<ipython-input-37-6e60fd766e2d>:6: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.median(), inplace=True)

# **Data Transformation**

**Remove duplicates**

In [38]:
import pandas as pd

# Load dataset
df = pd.read_csv('/content/drive/MyDrive/titanic/train.csv')

# Drop duplicates
df.drop_duplicates(inplace=True)

# Display deduplicated dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**Transform data using a function or mapping**

Load the dataset into a Pandas DataFrame

Define a custom function or mapping that takes a value and returns a transformed value

Use the apply() function with the custom function or mapping to transform the data in a column

In [39]:
import pandas as pd

# Load Titanic dataset
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

# Define custom functions for data transformation
def map_gender(gender):
    if gender == 'male':
        return 0
    elif gender == 'female':
        return 1
    else:
        return None

def transform_age(age):
    if pd.isnull(age):
        return None
    elif age <= 18:
        return 'Child'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

# Apply custom functions to transform data
df['Sex'] = df['Sex'].apply(map_gender)
df['AgeGroup'] = df['Age'].apply(transform_age)

# Display transformed dataset
print(df.head())

   Survived  Pclass                                               Name  Sex  \
0         0       3                             Mr. Owen Harris Braund    0
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...    1
2         1       3                              Miss. Laina Heikkinen    1
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle    1
4         0       3                            Mr. William Henry Allen    0

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare AgeGroup
0  22.0                        1                        0   7.2500    Adult
1  38.0                        1                        0  71.2833    Adult
2  26.0                        0                        0   7.9250    Adult
3  35.0                        1                        0  53.1000    Adult
4  35.0                        0                        0   8.0500    Adult

**Replace values in a column**

Load the dataset into a Pandas DataFrame

Use the replace() function to replace all occurrences of a value with a new value in a column

In [40]:
import pandas as pd

# Load Titanic dataset
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

# Replace values in 'Sex' column
df['Sex'].replace({'male': 'M', 'female': 'F'}, inplace=True)

# Display modified dataset
print(df.head())

   Survived  Pclass                                               Name Sex  \
0         0       3                             Mr. Owen Harris Braund   M
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...   F
2         1       3                              Miss. Laina Heikkinen   F
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle   F
4         0       3                            Mr. William Henry Allen   M

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0  22.0                        1                        0   7.2500
1  38.0                        1                        0  71.2833
2  26.0                        0                        0   7.9250
3  35.0                        1                        0  53.1000
4  35.0                        0                        0   8.0500

# **Detecting and Filtering Outliers**

**Detect outliers using z-scores**

In [41]:
import pandas as pd
import numpy as np

# Load the dataset
titanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

# Define a function that calculates z-scores
def zscore(col, threshold):
  z = np.abs((col - col.mean()) / col.std())
  return titanic[z > threshold]

# Detect outliers in the 'Age' column with a threshold of 3
outliers = zscore(titanic['Age'], 3)

# Display a subset of the dataset containing only the rows where the z-score exceeds the threshold
print(outliers.head())

     Survived  Pclass                                 Name   Sex   Age  \
627         1       1  Mr. Algernon Henry Wilson Barkworth  male  80.0
847         0       3                   Mr. Johan Svensson  male  74.0

     Siblings/Spouses Aboard  Parents/Children Aboard    Fare
627                        0                        0  30.000
847                        0                        0   7.775

**Detect outliers using the interquartile range (IQR)**

In [42]:
import pandas as pd

# Load the dataset
titanic = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

# Define a function that calculates the IQR
def iqr(col, threshold):
  q1 = col.quantile(0.25)
  q3 = col.quantile(0.75)
  iqr = q3 - q1
  return titanic[(col < q1 - threshold * iqr) | (col > q3 + threshold * iqr)]

# Detect outliers in the 'Fare' column with a threshold of 1.5
outliers = iqr(titanic['Fare'], 1.5)

# Display a subset of the dataset containing only the rows where the value is outside of the IQR range
print(outliers.head())

    Survived  Pclass                                               Name  \
1          1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
27         0       1                      Mr. Charles Alexander Fortune
31         1       1      Mrs. William Augustus (Marie Eugenie) Spencer
34         0       1                             Mr. Edgar Joseph Meyer
51         1       1            Mrs. Henry Sleeper (Myna Haxtun) Harper

       Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard      Fare
1   female  38.0                        1                        0   71.2833
27    male  19.0                        3                        2  263.0000
31  female  48.0                        1                        0  146.5208
34    male  28.0                        1                        0   82.1708
51  female  49.0                        1                        0   76.7292

**Replace outliers with a new value**

In [44]:
# Define a function that replaces outliers with the median value
def replace_outliers(col, method, threshold):
  col_copy = col.copy() # Create a copy of the input column
  if method == 'zscore':
    z = np.abs((col_copy - col_copy.mean()) / col_copy.std())
    col_copy[z > threshold] = col_copy.median()
  elif method == 'iqr':
    q1 = col_copy.quantile(0.25)
    q3 = col_copy.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (threshold * iqr)
    upper_bound = q3 + (threshold * iqr)
    col_copy[(col_copy < lower_bound) | (col_copy > upper_bound)] = col_copy.median()
  return col_copy

# Replace outliers in the 'Age' column using the z-score method
replace_outliers(titanic['Age'], 'zscore', 3)

# Replace outliers in the 'Fare' column using the IQR method
replace_outliers(titanic['Fare'], 'iqr', 1.5)

# Print the first few rows of the dataset
print(titanic.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  14.4542
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500