<a href="https://colab.research.google.com/github/ayesha-119/Deep-Learning-BWF/blob/master/Task_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ðŸ”´ Task 13**

**Topics: Starting with Pandas, Series and DataFrame**

Resource: https://drive.google.com/file/d/1ILp88f3u_KgJ_nlhTSsAVGdmZlICGhhd/view?usp=share_link

**Creating a Pandas Series**

To create a Pandas Series, we can pass a list of data and an optional list of index labels to the pd.Series() function. Here's an example:

In [9]:
import pandas as pd
data = [1,2,3,4,5]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)
print(s)
print(s.values)
print(s.index)

a    1
b    2
c    3
d    4
e    5
dtype: int64
[1 2 3 4 5]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

**creating a Series from the dictionary**

In [22]:
# create a Series from a dictionary
dict = {'apple':5,
        'peach' : 9,
        'banana' : 10,
        'mango':1}
s1 = pd.Series(dict) # keys of the dictionary are used as the index labels and the values of the dictionary are used as the values in the Series

**Altering series index**

In [25]:
# Create a series
s = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])

# Print the series
print(s)

# Alter the series index in-place
s.index = [1,2,3,4,5]

# Print the series
print("Series  with modified Index: ")
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64
Series  with modified Index:
1    10
2    20
3    30
4    40
5    50
dtype: int64

**Accessing elements in a Pandas Series**

 We can access elements in a Pandas Series using their index labels or positions. To access an element by label, we can use the ***loc*** attribute. To access an element by position, we can use the ***iloc*** attribute.

In [13]:
# access element by label
print(s.loc['a'])  

# access element by position
print(s.iloc[0])

1
1

**Basic Operations with Pandas Series**

In [17]:
s1 = pd.Series([5,4,3,2,1])
s2 = pd.Series([1,2,3,4,5])

# addition
print(s1 + s2)
# substraction
print(s2 - s1)
# multiplication
print (s2 * s1)

0    6
1    6
2    6
3    6
4    6
dtype: int64
0   -4
1   -2
2    0
3    2
4    4
dtype: int64
0    5
1    8
2    9
3    8
4    5
dtype: int64

**Slicing a Pandas Series**

We can slice a Pandas Series to select a subset of data. To slice a Series, we can use the [] operator.

In [20]:
# slice the Series using index labels
print (s['b' : 'd'])

# slice the Series using positions
print(s[2:])

b    2
c    3
d    4
dtype: int64
c    3
d    4
e    5
dtype: int64

**Automatic Alignment of Series by Index Labels in Pandas**

In [27]:
# Create two series with different index labels
s1 = pd.Series([65,55,45,35,25], index= ['a', 'b' ,'c', 'd', 'e'])
s2 = pd.Series([10,20,30], index = ['b', 'c', 'd'])

# Add the two series together
s3 = s1 + s2

# Print the resulting series
print(s3)

a     NaN
b    65.0
c    65.0
d    65.0
e     NaN
dtype: float64

# **DataFrame in Pandas**

**Creating a DataFrame**

**1- From a dictionary of lists**

In [31]:
import pandas as pd

dict = {'name':['John', 'Jane', 'Bob'],
    'age' : [30, 25, 40],
    'city' : ['New York', 'San Francisco', 'Chicago']}

# Create a DataFrame from the dictionary
frame = pd.DataFrame(dict)

# Print the DataFrame
print(frame)

   name  age           city
0  John   30       New York
1  Jane   25  San Francisco
2   Bob   40        Chicago

**2- From a list of dictionaries**

In [36]:
# Create a list of dictionaries
list = [{'name' : 'adam', 'age' : 25, 'city' : 'sans fransisco'},
        {'name' : 'adam', 'age' : 25, 'city' : 'chicage'},
        {'name' : 'adam', 'age' : 25, 'city' : 'new york'}]

# Create a DataFrame from the list
frame = pd.DataFrame(list)

# Print the DataFrame
print(frame)

   name  age            city
0  adam   25  sans fransisco
1  adam   25         chicage
2  adam   25        new york

**From a CSV file**

In [38]:
# Load a CSV file into a DataFrame
frame = pd.read_csv("/content/sample_data/california_housing_test.csv")

# Print the DataFrame
print(frame)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

# **Accessing Data in a DataFrame**

**Accessing columns**

In [39]:
# Create a DataFrame
data = {'name':['John', 'Jane', 'Bob'],
    'age' : [30, 25, 40],
    'city' : ['New York', 'San Francisco', 'Chicago']}

df = pd.DataFrame(data)
# Access a column by name
print(df['name'])

0    John
1    Jane
2     Bob
Name: name, dtype: object

**Accessing rows**

In [40]:
# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Access a row by index
print(df.loc[2])

name        Bob
age          40
city    Chicago
Name: 2, dtype: object

**Accessing cells**

In [42]:
# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Access a cell by row and column
print(df.loc[1, 'name'])

Jane

# **Modifying Data in a DataFrame**

**Adding a column**

In [43]:
import pandas as pd

# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Add a new column
df['state'] = ['NY', 'CA', 'IL']

# print a DataFrame
print(df)

   name  age           city state
0  John   30       New York    NY
1  Jane   25  San Francisco    CA
2   Bob   40        Chicago    IL

**Updating a column**

In [45]:
# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Update a column
df['name'] = ['Adam', 'Alice', 'Sophia']

# print a DataFrame
print(df)

     name  age           city
0    Adam   30       New York
1   Alice   25  San Francisco
2  Sophia   40        Chicago

**Removing a column**

In [47]:
import pandas as pd

# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Remove a column
df = df.drop('age', axis= 1)

# print the DataFrame
print(df)

   name           city
0  John       New York
1  Jane  San Francisco
2   Bob        Chicago

# **Filtering rows based on conditions**

In [51]:
# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Filter rows by age greater than or equal to 30
df_filtered = df[df['age']>30]

# Print the filtered DataFrame
print(df_filtered)

  name  age     city
2  Bob   40  Chicago

# **Sorting and ordering rows and columns**

In [53]:
# Create a DataFrame
data = {'name': ['John', 'Jane', 'Bob'],
        'age': [30, 25, 40],
        'city': ['New York', 'San Francisco', 'Chicago']}
df = pd.DataFrame(data)

# Sort rows by age in descending order
df_sorted = df.sort_values('age', ascending = False)

# Print the sorted DataFrame
print(df_sorted)

   name  age           city
2   Bob   40        Chicago
0  John   30       New York
1  Jane   25  San Francisco